In [30]:
import json
from pyproj import Proj, transform
import googlemaps
import folium
import pandas as pd

In [31]:
feature_df = pd.read_csv("./data/total.csv", encoding = 'EUC-KR')
light_df = feature_df[feature_df.분류 == '보안등']
light_df = light_df.drop(columns = ['Unnamed: 0'])
light_df.head(5)

    분류       명칭         위도          경도
0  보안등  역삼1동833  37.493349  127.032033
1  보안등  역삼1동833  37.493349  127.032033
2  보안등  역삼1동833  37.493349  127.032033
3  보안등  역삼1동833  37.493349  127.032033
4  보안등  역삼1동833  37.493349  127.032033

In [32]:
load_df = pd.read_csv("1_3_COORDS_IN_YS.csv", encoding = 'EUC-KR')
load_df = load_df.drop(columns = ['Unnamed: 0'])
load_df = load_df.loc[:, ['SIG_CD','RDS_MAN_NO','RDS_MAN_NO2', 'RN', 'RN_CD', 'LAT', 'LNG']]
load_df['분류'] = '도로'
load_df.head(3)
#일단 저장
save_load_df = load_df
load_df =  load_df.loc[:, ['RN', 'LAT', 'LNG','분류']]
load_df.head(5)

    RN        LAT         LNG  분류
0  역삼로  37.493030  127.029968  도로
1  역삼로  37.493107  127.030238  도로
2  역삼로  37.493325  127.030953  도로
3  역삼로  37.493571  127.031758  도로
4  역삼로  37.493818  127.032570  도로

In [33]:
#컬럼 이름 바꾸기 (concat준비)
load_df.rename(index=str, columns={ "RN" : "명칭","LAT"  : "위도", "LNG" : "경도" },inplace=True)
load_df.reset_index(drop=True)
save_load_df.to_csv("2_2_total_load_points.csv", mode='w', encoding='ms949')

In [34]:
total_load = pd.concat([load_df,light_df]).reset_index(drop=True)
total_load.head(4)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

           경도   명칭  분류         위도
0  127.029968  역삼로  도로  37.493030
1  127.030238  역삼로  도로  37.493107
2  127.030953  역삼로  도로  37.493325
3  127.031758  역삼로  도로  37.493571

In [35]:
total_load.loc[:,['명칭','분류', '위도','경도' ]].to_csv("2_1_total_load_light_points.csv", mode='w', encoding='ms949')