In [5]:
import json
from pyproj import Proj, transform
import googlemaps
import folium
import pandas as pd

In [6]:
feature_df = pd.read_csv("C:\MyPython/1_data/total.csv", encoding = 'EUC-KR')
light_df = feature_df[feature_df.분류 == '보안등']
light_df = light_df.drop(columns = ['Unnamed: 0'])
light_df.head(5)

    분류       명칭         위도          경도
0  보안등  역삼1동833  37.493349  127.032033
1  보안등  역삼1동833  37.493349  127.032033
2  보안등  역삼1동833  37.493349  127.032033
3  보안등  역삼1동833  37.493349  127.032033
4  보안등  역삼1동833  37.493349  127.032033

In [11]:
load_df = pd.read_csv("1_3_COORDS_IN_YS.csv", encoding = 'EUC-KR')
load_df = load_df.drop(columns = ['Unnamed: 0'])
load_df = load_df.loc[:, ['SIG_CD','RDS_MAN_NO','RDS_MAN_NO2', 'RN', 'RN_CD', 'LAT', 'LNG']]
load_df['분류'] = '도로'
load_df.head(3)
#일단 저장
save_load_df = load_df
load_df =  load_df.loc[:, ['RN', 'LAT', 'LNG','분류']]
load_df.head(5)

    RN        LAT         LNG  분류
0  역삼로  37.493030  127.029968  도로
1  역삼로  37.493107  127.030238  도로
2  역삼로  37.493325  127.030953  도로
3  역삼로  37.493571  127.031758  도로
4  역삼로  37.493818  127.032570  도로

In [12]:
#컬럼 이름 바꾸기 (concat준비)
load_df.rename(index=str, columns={ "RN" : "명칭","LAT"  : "위도", "LNG" : "경도" },inplace=True)
load_df.reset_index(drop=True)
save_load_df.to_csv("2_2_total_load_points.csv", mode='w', encoding='ms949')

In [15]:
total_load = pd.concat([load_df,light_df]).reset_index(drop=True)
total_load   # 3655 rows  4columns
total_load.head()

C:\Python3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

           경도   명칭  분류         위도
0  127.029968  역삼로  도로  37.493030
1  127.030238  역삼로  도로  37.493107
2  127.030953  역삼로  도로  37.493325
3  127.031758  역삼로  도로  37.493571
4  127.032570  역삼로  도로  37.493818

In [16]:
total_load.loc[:,['명칭','분류', '위도','경도' ]].to_csv("2_1_total_load_light_points.csv", mode='w', encoding='ms949')

In [17]:
total_load

              경도           명칭   분류         위도
0     127.029968          역삼로   도로  37.493030
1     127.030238          역삼로   도로  37.493107
2     127.030953          역삼로   도로  37.493325
3     127.031758          역삼로   도로  37.493571
4     127.032570          역삼로   도로  37.493818
5     127.032772          역삼로   도로  37.493880
6     127.032895          역삼로   도로  37.493917
7     127.033050          역삼로   도로  37.493961
8     127.033398          역삼로   도로  37.494068
9     127.033449          역삼로   도로  37.494083
10    127.033577          역삼로   도로  37.494122
11    127.033628          역삼로   도로  37.494138
12    127.033806          역삼로   도로  37.494194
13    127.033807          역삼로   도로  37.494194
14    127.033832          역삼로   도로  37.494202
15    127.033836          역삼로   도로  37.494203
16    127.033988          역삼로   도로  37.494247
17    127.034311          역삼로   도로  37.494346
18    127.034352          역삼로   도로  37.494359
19    127.035148          역삼로   도로  37.494601
20    127.035887          역삼로   도로  37.494827
21    127.035987          역삼로   도로  37.494857
22    127.036142          역삼로   도로  37.494904
23    127.036322          역삼로   도로  37.494959
24    127.036501          역삼로   도로  37.495014
25    127.036681          역삼로   도로  37.495069
26    127.036860          역삼로   도로  37.495124
27    127.036945          역삼로   도로  37.495146
28    127.036977          역삼로   도로  37.495155
29    127.037092          역삼로   도로  37.495194
...          ...          ...  ...        ...
3625  127.047388  역삼1동 696-16  보안등  37.505720
3626  127.046809  역삼1동 697-11  보안등  37.505284
3627  127.046244   역삼1동 697-8  보안등  37.505702
3628  127.046063   역삼1동 697-7  보안등  37.505807
3629  127.046325  역삼1동 695-10  보안등  37.506077
3630  127.031836    역삼1동823-5  보안등  37.498275
3631  127.032262    역삼1동823-7  보안등  37.498405
3632  127.032262    역삼1동823-7  보안등  37.498405
3633  127.032307   역삼1동823-21  보안등  37.499054
3634  127.032307   역삼1동823-21  보안등  37.499054
3635  127.033720   역삼1동834-11  보안등  37.493900
3636  127.035221  역삼1동 642-42  보안등  37.501153
3637  127.030042   역삼1동 613-3  보안등  37.504353
3638  127.042343  역삼1동 720-16  보안등  37.501711
3639  127.036678   역삼1동799-34  보안등  37.491600
3640  127.027828   역삼1동602-26  보안등  37.504585
3641  127.027302   역삼1동602-26  보안등  37.504438
3642  127.028417   역삼1동 66-12  보안등  37.502774
3643  127.042587  역삼1동 692-32  보안등  37.507476
3644  127.041993  역삼1동 685-20  보안등  37.508083
3645  127.038893  역삼1동 904-29  보안등  37.497102
3646  127.033000  역삼1동 629-32  보안등  37.503106
3647  127.048095    역삼1동758-5  보안등  37.497712
3648  127.044236     역삼1동 841  보안등  37.500119
3649  127.038316     역삼1동 665  보안등  37.504596
3650  127.037918     역삼1동 665  보안등  37.505643
3651  127.036539     역삼1동 665  보안등  37.505086
3652  127.037102     역삼1동 665  보안등  37.503937
3653  127.031770   역삼1동828-20  보안등  37.497349
3654  127.044662  역삼1동 695-63  보안등  37.506817

[3655 rows x 4 columns]