In [2]:
import googlemaps
import folium
import pandas as pd
import numpy as np
import heapq
from haversine import haversine #거리구하기
from sklearn.preprocessing import minmax_scale #정규화


##초기화 
total_df = pd.read_csv("./data/total.csv", encoding = "EUC-KR" )
df1 = total_df.rename(index=str, columns={"Unnamed: 0" : "ID"})

sp = (37.506059, 127.036863) #출발지 37.506059, 127.036863
c = (37.509122, 127.043816) #도착지

closed_list = []
open_list = [] 

###################임의로 밝기 구하기 나중에는 삭제
from  random import randint
light = []
for i in range(0, len(total_df)) : 
    light.append(randint(0,5))
    
light[0:5]
df1['밝기'] = light
df1.head(10)

   ID   분류          명칭         위도          경도  밝기
0   0  보안등     역삼1동833  37.493349  127.032033   0
1   1  보안등     역삼1동833  37.493349  127.032033   0
2   2  보안등     역삼1동833  37.493349  127.032033   0
3   3  보안등     역삼1동833  37.493349  127.032033   5
4   4  보안등     역삼1동833  37.493349  127.032033   1
5   5  보안등  역삼1동832-25  37.492834  127.031413   5
6   6  보안등  역삼1동832-27  37.492632  127.031508   5
7   7  보안등  역삼1동832-28  37.492480  127.031581   2
8   8  보안등  역삼1동832-28  37.492480  127.031581   3
9   9  보안등  역삼1동832-29  37.492343  127.031644   1

## 함수정리
1. get_points_in_range : 중심점에서 범위 내 포함되는 점들 검색
2. get_gf : G, H 구하기. return 은 F
3. get_scaled_f : F scaling

In [3]:
point = strt
get_distance = lambda x : haversine(point, [x['위도'], x['경도']] ,  unit='m') 

def get_points_in_range(df):
    distance = lambda x : 
    
    n = int(0)
    pntInRange = df[df.거리 <= 80].reset_index(drop=True)
    res = pntInRange.sort_values(by = ['거리','밝기'], ascending=[True, False] ).reset_index(drop=True)
    
    return res

points = get_points_in_range(df1)
points

SyntaxError: invalid syntax (<ipython-input-3-a13885146e0a>, line 3)

In [ ]:
#먼곳에서 가장 W가 큰 곳 이런거 보기
while( point != ep ) :
    #1. 해당 ID Close List에 추가