In [107]:
import numpy as np
import pandas as pd
import folium
from haversine import haversine

### 만들어 둔 CSV 파일 불러오기

In [108]:
total_df = pd.read_csv("total.csv", encoding = 'ms949')
total_df.drop('Unnamed: 0', axis=1, inplace=True)

load_df = pd.read_csv("total_load_points.csv", encoding = 'ms949')
load_df.drop('Unnamed: 0', axis=1, inplace=True)
load_df.head(5)

total_df.head(5)
print(len(total_df)) #2090

2090

### 중복데이터 제거

In [113]:

#a = total_df.groupby('명칭')['명칭'].count().sort_values(ascending = False)
#b = total_df.join(a, on='명칭', rsuffix='_r')

total_df = total_df.drop_duplicates(keep = 'first')
total_df.reset_index(drop=True, inplace = True)
print(len(total_df)) #1722
total_df.head(4)

1722

    분류          명칭         위도          경도
0  보안등     역삼1동833  37.493349  127.032033
1  보안등  역삼1동832-25  37.492834  127.031413
2  보안등  역삼1동832-27  37.492632  127.031508
3  보안등  역삼1동832-28  37.492480  127.031581

### 모든 데이터들을 담을 데이터 프레임을 만든다.

밝기 = 각 시설물의 점수      EX) 파출소 = 5점, 보안등 = 4점, 편의점 = 3점, cctv = 2점
총밝기 = '기준 시설물의 점수' + '주변 시설물의 점수'

In [114]:
all_df = pd.DataFrame(columns=['feature_ID', '밝기', '분류', '명칭', '위도', '경도'])

### 시설물에 밝기 점수 주기
for i in range(len(total_df)) :
    score = 0 
    if total_df['분류'][i] == '파출소' :
        score += 50
    elif total_df['분류'][i] == '보안등' :    
        score += 20
    elif total_df['분류'][i] == '편의점' :    
        score += 15
    else :    
        score += 15
        
    tmp = {'feature_ID' : 'Point_%d' % i, 
           '밝기' : score, 
           '분류' :total_df.loc[i,'분류'], '명칭' : total_df.loc[i,'명칭'], 
           '위도' : total_df.loc[i,'위도'], '경도' : total_df.loc[i,'경도'] 
           } 
    all_df = all_df.append(all_df.from_dict(tmp, orient = 'index').T)

all_df.reset_index(inplace=True,drop=True)
all_df.head(3)

  feature_ID  밝기   분류          명칭       위도       경도
0    Point_0  20  보안등     역삼1동833  37.4933  127.032
1    Point_1  20  보안등  역삼1동832-25  37.4928  127.031
2    Point_2  20  보안등  역삼1동832-27  37.4926  127.032

In [116]:
#엄청느림
# 총밝기 구하기    
scores = []
for i in range(len(load_df)) :
    score = 0
    s_point = (load_df.loc[i,'위도'], load_df.loc[i,'경도']) # 시작점
    for n in range(len(all_df)) :
        t_point = (all_df.loc[n,'위도'], all_df.loc[n,'경도']) # 타겟
        d_m = haversine(s_point, t_point, unit='m') #  시작점과 타겟의 거리  단위 미터
        # 반경 50M 를 범위로 잡음
        if d_m <= 50 :
            score += all_df.loc[n, '밝기']
    # print(i, score) # 잘나옴
    scores.append(score)

In [122]:
load_df['밝기'] = scores
# DataFrame 을 csv 파일로 저장하기
load_df.to_csv("load_df_with_light.csv", mode='w', encoding='ms949')   # encoding 을 안 하면 한글이 깨짐

In [120]:
all_df

      feature_ID  밝기    분류                          명칭       위도       경도
0        Point_0  20   보안등                     역삼1동833  37.4933  127.032
1        Point_1  20   보안등                  역삼1동832-25  37.4928  127.031
2        Point_2  20   보안등                  역삼1동832-27  37.4926  127.032
3        Point_3  20   보안등                  역삼1동832-28  37.4925  127.032
4        Point_4  20   보안등                  역삼1동832-29  37.4923  127.032
5        Point_5  20   보안등                  역삼1동832-31   37.492  127.032
6        Point_6  20   보안등                  역삼1동837-33  37.4916  127.032
7        Point_7  20   보안등                  역삼1동837-15  37.4919  127.032
8        Point_8  20   보안등                  역삼1동837-16   37.492  127.032
9        Point_9  20   보안등                     역삼1동836   37.492  127.033
10      Point_10  20   보안등                   역삼1동836-1  37.4916  127.033
11      Point_11  20   보안등                   역삼1동836-2  37.4917  127.033
12      Point_12  20   보안등                  역삼1동836-14  37.4915  127.033
13      Point_13  20   보안등                  역삼1동836-15  37.4914  127.033
14      Point_14  20   보안등                  역삼1동836-25  37.4909  127.033
15      Point_15  20   보안등                   역삼1동840-1  37.4912  127.035
16      Point_16  20   보안등                   역삼1동840-3  37.4913  127.036
17      Point_17  20   보안등                   역삼1동840-5  37.4913  127.036
18      Point_18  20   보안등                  역삼1동835-51  37.4917  127.036
19      Point_19  20   보안등                     역삼1동799  37.4916  127.037
20      Point_20  20   보안등                  역삼1동835-52  37.4917  127.036
21      Point_21  20   보안등                  역삼1동793-52  37.4919  127.037
22      Point_22  20   보안등                  역삼1동835-68  37.4923  127.036
23      Point_23  20   보안등                  역삼1동793-33  37.4922  127.037
24      Point_24  20   보안등                  역삼1동835-12  37.4918  127.035
25      Point_25  20   보안등                  역삼1동834-23  37.4929  127.035
26      Point_26  20   보안등                  역삼1동834-24   37.493  127.035
27      Point_27  20   보안등                  역삼1동834-68  37.4931  127.035
28      Point_28  20   보안등                  역삼1동834-72  37.4933  127.035
29      Point_29  20   보안등                  역삼1동834-73  37.4935  127.035
...          ...  ..   ...                         ...      ...      ...
1692  Point_1692  15  CCTV                  역삼동 721-28  37.4999  127.043
1693  Point_1693  15  CCTV                  역삼동 725-25  37.5005   127.04
1694  Point_1694  15  CCTV         역삼동 702-1(역삼지하보도 내)  37.5025  127.043
1695  Point_1695  15  CCTV                  역삼동 783-16   37.495  127.044
1696  Point_1696  15  CCTV                  역삼동 792-38   37.494  127.037
1697  Point_1697  15  CCTV         역삼동 795-26 (역삼마을마당)  37.4924  127.039
1698  Point_1698  15  CCTV  역삼동 707-42 (한신인터밸리24빌딩 주변)   37.503  127.048
1699  Point_1699  15  CCTV                   역삼동 832-7  37.4917  127.031
1700  Point_1700  15  CCTV       역삼동 755 (이마트 역삼지점 주변)  37.4994  127.048
1701  Point_1701  15  CCTV        역삼동 649-10 (서림빌딩 주변)  37.4991   127.03
1702  Point_1702  15  CCTV                   역삼동 719-9   37.501   127.04
1703  Point_1703  15  CCTV                  역삼동 619-23  37.5016  127.027
1704  Point_1704  15  CCTV                   역삼동 661-8  37.5063  127.038
1705  Point_1705  15  CCTV                  역삼동 683-19  37.5083  127.044
1706  Point_1706  15  CCTV                  역삼동 809-12  37.5028  127.026
1707  Point_1707  15  CCTV                  역삼동 766-18  37.4958   127.05
1708  Point_1708  15  CCTV                  역삼동 644-17  37.5009  127.035
1709  Point_1709  15  CCTV                   역삼동 635-1  37.5001   127.03
1710  Point_1710  15  CCTV                  역삼동 613-22  37.5054  127.031
1711  Point_1711  15  CCTV                  역삼동 776-25  37.4946  127.041
1712  Point_1712  15  CCTV                  역삼동 775-29  37.4956  127.041
1713  Point_1713  15  CCTV                   역삼동 635-1  37.5016   127.03
1714  Point_1714  15  CCTV                     역삼동 647  37.5005  127.032
1715  Point_1715  15  CCTV                  역삼동 756-19  37.4977  127.052
1716  Point_1716  15  CCTV                  역삼동 791-23  37.4941  127.039
1717  Point_1717  15  CCTV                  역삼동 645-29   37.501  127.034
1718  Point_1718  15  CCTV                   역삼동 697-7  37.5058  127.046
1719  Point_1719  15  CCTV                  역삼동 700-13   37.505  127.043
1720  Point_1720  15  CCTV                   역삼동 652-5  37.5082  127.037
1721  Point_1721  15  CCTV                  역삼동 735-18  37.4979  127.034

[1722 rows x 6 columns]